
{{#section 'css'}}
<style>
  .container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  font-size: x-large;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: rgb(255, 255, 255); 
}
</style>


{{/section}}


<div class="sidebar">
  <a class="active" href="/teacher/createcourses">
<i class="fa fa-plus" aria-hidden="true"></i>
  Tạo khóa học mới</a>
  <a href="/teacher/profile">
  <i class="fa fa-user" aria-hidden="true"></i>
  Thông tin bản thân</a>
</div>

<div class="content" >
    <img  class="d-block w-100" style="height: 70%; width:100%" src="/public/images/Home_carousel/Education_Background_Vector_8.jpg"  alt="...">
    <div class="centered" >Chào mừng giáo viên đến với Online Academy</div>
</div>