
{{#section 'css'}}
<style>
  .container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  font-size: x-large;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: rgb(255, 255, 255); 
}
</style>


{{/section}}
{{!-- <div class="card" style="font-size: large;">
    <div class="card-body">
        <h4 class="d-flex justify-content-center">Chào mừng Admin</h4>
    </div>
</div> --}}
<div class="" >
    <img  class="d-block w-100" style="height: 70%; width:100%" src="/public/images/Home_carousel/backgoundadmin.jpg"  alt="...">
</div>