{{#section 'js'}}

{{/section}}

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow sticky-top">
    <a class="navbar-brand" href="/">
      <i class="fa fa-home fa-lg"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Online Academy<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown dropright">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">IT</a>
              <ul class="dropdown-menu">

                <li><a class="dropdown-item" href="/courses">Tất cả</a></li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Web</a>
                  
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/courses/web">Tất cả</a></li>
                    {{#each lcCategories}}
                    {{#if CatType}}
                        <li><a class="dropdown-item" href="/courses/web/{{CatName}}">{{CatName}}</a></li>
                    {{/if}}
                    {{/each}}
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Mobile</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/courses/mobile">Tất cả</a></li>
                    {{#each lcCategories}}
                    {{#unless CatType}}
                        <li><a class="dropdown-item" href="/courses/mobile/{{CatName}}">{{CatName}}</a></li>
                    {{/unless}}
                    {{/each}}
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search for anything" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              <i class="fa fa-search"></i>
              Search
            </button>
          </form>
  </nav>